<div class="hero-unit">
  <form id="user-form" class="form-horizontal" action="/users" method="POST">
    <fieldset>
      <legend>Criar novo usúario</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>
      <%= partial('_form', {user: params}); %>
      <div class="form-actions">
        <%- contentTag('input', 'Adicionar', {type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
